<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.epileptic.mapper.hzhGeneral.HzhGeneralMapper">
    <resultMap id="BaseResultMap" type="com.join.epileptic.entity.hzhGeneral.HzhGeneral">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="town" jdbcType="VARCHAR" property="town"/>
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="sfname" jdbcType="VARCHAR" property="sfname"/>
        <result column="relation" jdbcType="VARCHAR" property="relation"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sicknum" jdbcType="VARCHAR" property="sicknum"/>
        <result column="doctor" jdbcType="VARCHAR" property="doctor"/>
        <result column="survey_time" jdbcType="VARCHAR" property="surveyTime"/>
        <result column="livenum" jdbcType="VARCHAR" property="livenum"/>
        <result column="six" jdbcType="VARCHAR" property="six"/>
        <result column="citys" jdbcType="VARCHAR" property="citys"/>
        <result column="xz" jdbcType="VARCHAR" property="xz"/>
        <result column="nc" jdbcType="VARCHAR" property="nc"/>
        <result column="ne" jdbcType="VARCHAR" property="ne"/>
        <result column="mather" jdbcType="INTEGER" property="mather"/>
        <result column="father" jdbcType="INTEGER" property="father"/>
        <result column="tais" jdbcType="INTEGER" property="tais"/>
        <result column="chan" jdbcType="INTEGER" property="chan"/>
        <result column="zhou" jdbcType="INTEGER" property="zhou"/>
        <result column="ctype" jdbcType="VARCHAR" property="ctype"/>
        <result column="kg" jdbcType="INTEGER" property="kg"/>
        <result column="myqbs" jdbcType="INTEGER" property="myqbs"/>
        <result column="myqbses" jdbcType="VARCHAR" property="myqbses"/>
        <result column="shbs" jdbcType="VARCHAR" property="shbs"/>
        <result column="fych" jdbcType="INTEGER" property="fych"/>
        <result column="action" jdbcType="VARCHAR" property="action"/>
        <result column="actions" jdbcType="VARCHAR" property="actions"/>
        <result column="tai" jdbcType="INTEGER" property="tai"/>
        <result column="fan" jdbcType="INTEGER" property="fan"/>
        <result column="dz" jdbcType="INTEGER" property="dz"/>
        <result column="pa" jdbcType="INTEGER" property="pa"/>
        <result column="zou" jdbcType="INTEGER" property="zou"/>
        <result column="lau" jdbcType="VARCHAR" property="lau"/>
        <result column="laus" jdbcType="VARCHAR" property="laus"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, `name`, birthday, age, province, city, town, nation, sfname, relation, address, 
    mobile, sicknum, doctor, survey_time, livenum, six, citys, xz, nc, ne, mather, father, 
    tais, chan, zhou, ctype, kg, myqbs, myqbses, shbs, fych, `action`, actions, tai, 
    fan, dz, pa, zou, lau, laus
  </sql>
    <select id="selectByExample" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneralExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from hzh_general
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hzh_general
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hzh_general
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneralExample">
        delete from hzh_general
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneral"
            useGeneratedKeys="true">
    insert into hzh_general (`name`, birthday, age, 
      province, city, town, 
      nation, sfname, relation, 
      address, mobile, sicknum, 
      doctor, survey_time, livenum, 
      six, citys, xz, nc, 
      ne, mather, father, 
      tais, chan, zhou, ctype, 
      kg, myqbs, myqbses, 
      shbs, fych, `action`, 
      actions, tai, fan, 
      dz, pa, zou, lau, 
      laus)
    values (#{name,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
      #{nation,jdbcType=VARCHAR}, #{sfname,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{sicknum,jdbcType=VARCHAR}, 
      #{doctor,jdbcType=VARCHAR}, #{surveyTime,jdbcType=VARCHAR}, #{livenum,jdbcType=VARCHAR}, 
      #{six,jdbcType=VARCHAR}, #{citys,jdbcType=VARCHAR}, #{xz,jdbcType=VARCHAR}, #{nc,jdbcType=VARCHAR}, 
      #{ne,jdbcType=VARCHAR}, #{mather,jdbcType=INTEGER}, #{father,jdbcType=INTEGER}, 
      #{tais,jdbcType=INTEGER}, #{chan,jdbcType=INTEGER}, #{zhou,jdbcType=INTEGER}, #{ctype,jdbcType=VARCHAR}, 
      #{kg,jdbcType=INTEGER}, #{myqbs,jdbcType=INTEGER}, #{myqbses,jdbcType=VARCHAR}, 
      #{shbs,jdbcType=VARCHAR}, #{fych,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, 
      #{actions,jdbcType=VARCHAR}, #{tai,jdbcType=INTEGER}, #{fan,jdbcType=INTEGER}, 
      #{dz,jdbcType=INTEGER}, #{pa,jdbcType=INTEGER}, #{zou,jdbcType=INTEGER}, #{lau,jdbcType=VARCHAR}, 
      #{laus,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneral" useGeneratedKeys="true">
        insert into hzh_general
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="town != null">
                town,
            </if>
            <if test="nation != null">
                nation,
            </if>
            <if test="sfname != null">
                sfname,
            </if>
            <if test="relation != null">
                relation,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="sicknum != null">
                sicknum,
            </if>
            <if test="doctor != null">
                doctor,
            </if>
            <if test="surveyTime != null">
                survey_time,
            </if>
            <if test="livenum != null">
                livenum,
            </if>
            <if test="six != null">
                six,
            </if>
            <if test="citys != null">
                citys,
            </if>
            <if test="xz != null">
                xz,
            </if>
            <if test="nc != null">
                nc,
            </if>
            <if test="ne != null">
                ne,
            </if>
            <if test="mather != null">
                mather,
            </if>
            <if test="father != null">
                father,
            </if>
            <if test="tais != null">
                tais,
            </if>
            <if test="chan != null">
                chan,
            </if>
            <if test="zhou != null">
                zhou,
            </if>
            <if test="ctype != null">
                ctype,
            </if>
            <if test="kg != null">
                kg,
            </if>
            <if test="myqbs != null">
                myqbs,
            </if>
            <if test="myqbses != null">
                myqbses,
            </if>
            <if test="shbs != null">
                shbs,
            </if>
            <if test="fych != null">
                fych,
            </if>
            <if test="action != null">
                `action`,
            </if>
            <if test="actions != null">
                actions,
            </if>
            <if test="tai != null">
                tai,
            </if>
            <if test="fan != null">
                fan,
            </if>
            <if test="dz != null">
                dz,
            </if>
            <if test="pa != null">
                pa,
            </if>
            <if test="zou != null">
                zou,
            </if>
            <if test="lau != null">
                lau,
            </if>
            <if test="laus != null">
                laus,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="town != null">
                #{town,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="sfname != null">
                #{sfname,jdbcType=VARCHAR},
            </if>
            <if test="relation != null">
                #{relation,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sicknum != null">
                #{sicknum,jdbcType=VARCHAR},
            </if>
            <if test="doctor != null">
                #{doctor,jdbcType=VARCHAR},
            </if>
            <if test="surveyTime != null">
                #{surveyTime,jdbcType=VARCHAR},
            </if>
            <if test="livenum != null">
                #{livenum,jdbcType=VARCHAR},
            </if>
            <if test="six != null">
                #{six,jdbcType=VARCHAR},
            </if>
            <if test="citys != null">
                #{citys,jdbcType=VARCHAR},
            </if>
            <if test="xz != null">
                #{xz,jdbcType=VARCHAR},
            </if>
            <if test="nc != null">
                #{nc,jdbcType=VARCHAR},
            </if>
            <if test="ne != null">
                #{ne,jdbcType=VARCHAR},
            </if>
            <if test="mather != null">
                #{mather,jdbcType=INTEGER},
            </if>
            <if test="father != null">
                #{father,jdbcType=INTEGER},
            </if>
            <if test="tais != null">
                #{tais,jdbcType=INTEGER},
            </if>
            <if test="chan != null">
                #{chan,jdbcType=INTEGER},
            </if>
            <if test="zhou != null">
                #{zhou,jdbcType=INTEGER},
            </if>
            <if test="ctype != null">
                #{ctype,jdbcType=VARCHAR},
            </if>
            <if test="kg != null">
                #{kg,jdbcType=INTEGER},
            </if>
            <if test="myqbs != null">
                #{myqbs,jdbcType=INTEGER},
            </if>
            <if test="myqbses != null">
                #{myqbses,jdbcType=VARCHAR},
            </if>
            <if test="shbs != null">
                #{shbs,jdbcType=VARCHAR},
            </if>
            <if test="fych != null">
                #{fych,jdbcType=INTEGER},
            </if>
            <if test="action != null">
                #{action,jdbcType=VARCHAR},
            </if>
            <if test="actions != null">
                #{actions,jdbcType=VARCHAR},
            </if>
            <if test="tai != null">
                #{tai,jdbcType=INTEGER},
            </if>
            <if test="fan != null">
                #{fan,jdbcType=INTEGER},
            </if>
            <if test="dz != null">
                #{dz,jdbcType=INTEGER},
            </if>
            <if test="pa != null">
                #{pa,jdbcType=INTEGER},
            </if>
            <if test="zou != null">
                #{zou,jdbcType=INTEGER},
            </if>
            <if test="lau != null">
                #{lau,jdbcType=VARCHAR},
            </if>
            <if test="laus != null">
                #{laus,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneralExample"
            resultType="java.lang.Long">
        select count(*) from hzh_general
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update hzh_general
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                `name` = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.birthday != null">
                birthday = #{record.birthday,jdbcType=VARCHAR},
            </if>
            <if test="record.age != null">
                age = #{record.age,jdbcType=INTEGER},
            </if>
            <if test="record.province != null">
                province = #{record.province,jdbcType=VARCHAR},
            </if>
            <if test="record.city != null">
                city = #{record.city,jdbcType=VARCHAR},
            </if>
            <if test="record.town != null">
                town = #{record.town,jdbcType=VARCHAR},
            </if>
            <if test="record.nation != null">
                nation = #{record.nation,jdbcType=VARCHAR},
            </if>
            <if test="record.sfname != null">
                sfname = #{record.sfname,jdbcType=VARCHAR},
            </if>
            <if test="record.relation != null">
                relation = #{record.relation,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.mobile != null">
                mobile = #{record.mobile,jdbcType=VARCHAR},
            </if>
            <if test="record.sicknum != null">
                sicknum = #{record.sicknum,jdbcType=VARCHAR},
            </if>
            <if test="record.doctor != null">
                doctor = #{record.doctor,jdbcType=VARCHAR},
            </if>
            <if test="record.surveyTime != null">
                survey_time = #{record.surveyTime,jdbcType=VARCHAR},
            </if>
            <if test="record.livenum != null">
                livenum = #{record.livenum,jdbcType=VARCHAR},
            </if>
            <if test="record.six != null">
                six = #{record.six,jdbcType=VARCHAR},
            </if>
            <if test="record.citys != null">
                citys = #{record.citys,jdbcType=VARCHAR},
            </if>
            <if test="record.xz != null">
                xz = #{record.xz,jdbcType=VARCHAR},
            </if>
            <if test="record.nc != null">
                nc = #{record.nc,jdbcType=VARCHAR},
            </if>
            <if test="record.ne != null">
                ne = #{record.ne,jdbcType=VARCHAR},
            </if>
            <if test="record.mather != null">
                mather = #{record.mather,jdbcType=INTEGER},
            </if>
            <if test="record.father != null">
                father = #{record.father,jdbcType=INTEGER},
            </if>
            <if test="record.tais != null">
                tais = #{record.tais,jdbcType=INTEGER},
            </if>
            <if test="record.chan != null">
                chan = #{record.chan,jdbcType=INTEGER},
            </if>
            <if test="record.zhou != null">
                zhou = #{record.zhou,jdbcType=INTEGER},
            </if>
            <if test="record.ctype != null">
                ctype = #{record.ctype,jdbcType=VARCHAR},
            </if>
            <if test="record.kg != null">
                kg = #{record.kg,jdbcType=INTEGER},
            </if>
            <if test="record.myqbs != null">
                myqbs = #{record.myqbs,jdbcType=INTEGER},
            </if>
            <if test="record.myqbses != null">
                myqbses = #{record.myqbses,jdbcType=VARCHAR},
            </if>
            <if test="record.shbs != null">
                shbs = #{record.shbs,jdbcType=VARCHAR},
            </if>
            <if test="record.fych != null">
                fych = #{record.fych,jdbcType=INTEGER},
            </if>
            <if test="record.action != null">
                `action` = #{record.action,jdbcType=VARCHAR},
            </if>
            <if test="record.actions != null">
                actions = #{record.actions,jdbcType=VARCHAR},
            </if>
            <if test="record.tai != null">
                tai = #{record.tai,jdbcType=INTEGER},
            </if>
            <if test="record.fan != null">
                fan = #{record.fan,jdbcType=INTEGER},
            </if>
            <if test="record.dz != null">
                dz = #{record.dz,jdbcType=INTEGER},
            </if>
            <if test="record.pa != null">
                pa = #{record.pa,jdbcType=INTEGER},
            </if>
            <if test="record.zou != null">
                zou = #{record.zou,jdbcType=INTEGER},
            </if>
            <if test="record.lau != null">
                lau = #{record.lau,jdbcType=VARCHAR},
            </if>
            <if test="record.laus != null">
                laus = #{record.laus,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update hzh_general
        set id = #{record.id,jdbcType=INTEGER},
        `name` = #{record.name,jdbcType=VARCHAR},
        birthday = #{record.birthday,jdbcType=VARCHAR},
        age = #{record.age,jdbcType=INTEGER},
        province = #{record.province,jdbcType=VARCHAR},
        city = #{record.city,jdbcType=VARCHAR},
        town = #{record.town,jdbcType=VARCHAR},
        nation = #{record.nation,jdbcType=VARCHAR},
        sfname = #{record.sfname,jdbcType=VARCHAR},
        relation = #{record.relation,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        mobile = #{record.mobile,jdbcType=VARCHAR},
        sicknum = #{record.sicknum,jdbcType=VARCHAR},
        doctor = #{record.doctor,jdbcType=VARCHAR},
        survey_time = #{record.surveyTime,jdbcType=VARCHAR},
        livenum = #{record.livenum,jdbcType=VARCHAR},
        six = #{record.six,jdbcType=VARCHAR},
        citys = #{record.citys,jdbcType=VARCHAR},
        xz = #{record.xz,jdbcType=VARCHAR},
        nc = #{record.nc,jdbcType=VARCHAR},
        ne = #{record.ne,jdbcType=VARCHAR},
        mather = #{record.mather,jdbcType=INTEGER},
        father = #{record.father,jdbcType=INTEGER},
        tais = #{record.tais,jdbcType=INTEGER},
        chan = #{record.chan,jdbcType=INTEGER},
        zhou = #{record.zhou,jdbcType=INTEGER},
        ctype = #{record.ctype,jdbcType=VARCHAR},
        kg = #{record.kg,jdbcType=INTEGER},
        myqbs = #{record.myqbs,jdbcType=INTEGER},
        myqbses = #{record.myqbses,jdbcType=VARCHAR},
        shbs = #{record.shbs,jdbcType=VARCHAR},
        fych = #{record.fych,jdbcType=INTEGER},
        `action` = #{record.action,jdbcType=VARCHAR},
        actions = #{record.actions,jdbcType=VARCHAR},
        tai = #{record.tai,jdbcType=INTEGER},
        fan = #{record.fan,jdbcType=INTEGER},
        dz = #{record.dz,jdbcType=INTEGER},
        pa = #{record.pa,jdbcType=INTEGER},
        zou = #{record.zou,jdbcType=INTEGER},
        lau = #{record.lau,jdbcType=VARCHAR},
        laus = #{record.laus,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneral">
        update hzh_general
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="town != null">
                town = #{town,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                nation = #{nation,jdbcType=VARCHAR},
            </if>
            <if test="sfname != null">
                sfname = #{sfname,jdbcType=VARCHAR},
            </if>
            <if test="relation != null">
                relation = #{relation,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="sicknum != null">
                sicknum = #{sicknum,jdbcType=VARCHAR},
            </if>
            <if test="doctor != null">
                doctor = #{doctor,jdbcType=VARCHAR},
            </if>
            <if test="surveyTime != null">
                survey_time = #{surveyTime,jdbcType=VARCHAR},
            </if>
            <if test="livenum != null">
                livenum = #{livenum,jdbcType=VARCHAR},
            </if>
            <if test="six != null">
                six = #{six,jdbcType=VARCHAR},
            </if>
            <if test="citys != null">
                citys = #{citys,jdbcType=VARCHAR},
            </if>
            <if test="xz != null">
                xz = #{xz,jdbcType=VARCHAR},
            </if>
            <if test="nc != null">
                nc = #{nc,jdbcType=VARCHAR},
            </if>
            <if test="ne != null">
                ne = #{ne,jdbcType=VARCHAR},
            </if>
            <if test="mather != null">
                mather = #{mather,jdbcType=INTEGER},
            </if>
            <if test="father != null">
                father = #{father,jdbcType=INTEGER},
            </if>
            <if test="tais != null">
                tais = #{tais,jdbcType=INTEGER},
            </if>
            <if test="chan != null">
                chan = #{chan,jdbcType=INTEGER},
            </if>
            <if test="zhou != null">
                zhou = #{zhou,jdbcType=INTEGER},
            </if>
            <if test="ctype != null">
                ctype = #{ctype,jdbcType=VARCHAR},
            </if>
            <if test="kg != null">
                kg = #{kg,jdbcType=INTEGER},
            </if>
            <if test="myqbs != null">
                myqbs = #{myqbs,jdbcType=INTEGER},
            </if>
            <if test="myqbses != null">
                myqbses = #{myqbses,jdbcType=VARCHAR},
            </if>
            <if test="shbs != null">
                shbs = #{shbs,jdbcType=VARCHAR},
            </if>
            <if test="fych != null">
                fych = #{fych,jdbcType=INTEGER},
            </if>
            <if test="action != null">
                `action` = #{action,jdbcType=VARCHAR},
            </if>
            <if test="actions != null">
                actions = #{actions,jdbcType=VARCHAR},
            </if>
            <if test="tai != null">
                tai = #{tai,jdbcType=INTEGER},
            </if>
            <if test="fan != null">
                fan = #{fan,jdbcType=INTEGER},
            </if>
            <if test="dz != null">
                dz = #{dz,jdbcType=INTEGER},
            </if>
            <if test="pa != null">
                pa = #{pa,jdbcType=INTEGER},
            </if>
            <if test="zou != null">
                zou = #{zou,jdbcType=INTEGER},
            </if>
            <if test="lau != null">
                lau = #{lau,jdbcType=VARCHAR},
            </if>
            <if test="laus != null">
                laus = #{laus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.join.epileptic.entity.hzhGeneral.HzhGeneral">
    update hzh_general
    set `name` = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      sfname = #{sfname,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      sicknum = #{sicknum,jdbcType=VARCHAR},
      doctor = #{doctor,jdbcType=VARCHAR},
      survey_time = #{surveyTime,jdbcType=VARCHAR},
      livenum = #{livenum,jdbcType=VARCHAR},
      six = #{six,jdbcType=VARCHAR},
      citys = #{citys,jdbcType=VARCHAR},
      xz = #{xz,jdbcType=VARCHAR},
      nc = #{nc,jdbcType=VARCHAR},
      ne = #{ne,jdbcType=VARCHAR},
      mather = #{mather,jdbcType=INTEGER},
      father = #{father,jdbcType=INTEGER},
      tais = #{tais,jdbcType=INTEGER},
      chan = #{chan,jdbcType=INTEGER},
      zhou = #{zhou,jdbcType=INTEGER},
      ctype = #{ctype,jdbcType=VARCHAR},
      kg = #{kg,jdbcType=INTEGER},
      myqbs = #{myqbs,jdbcType=INTEGER},
      myqbses = #{myqbses,jdbcType=VARCHAR},
      shbs = #{shbs,jdbcType=VARCHAR},
      fych = #{fych,jdbcType=INTEGER},
      `action` = #{action,jdbcType=VARCHAR},
      actions = #{actions,jdbcType=VARCHAR},
      tai = #{tai,jdbcType=INTEGER},
      fan = #{fan,jdbcType=INTEGER},
      dz = #{dz,jdbcType=INTEGER},
      pa = #{pa,jdbcType=INTEGER},
      zou = #{zou,jdbcType=INTEGER},
      lau = #{lau,jdbcType=VARCHAR},
      laus = #{laus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="multiSelect" resultMap="BaseResultMap">
        select * from hzh_general where 1 = 1
        <if test="hzhGeneral.name != null">
            and `name` like concat('%','${hzhGeneral.name}','%')
        </if>
        <if test="hzhGeneral.birthday != null">
            and birthday = #{birthday,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.age != null">
            and age = #{hzhGeneral.age,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.province != null">
            and province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.city != null">
            and city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.town != null">
            and town = #{town,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.nation != null">
            and nation = #{nation,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.sfname != null">
            and sfname = #{sfname,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.relation != null">
            and relation = #{relation,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.address != null">
            and address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.mobile != null">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.sicknum != null">
            and sicknum = #{sicknum,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.doctor != null">
            and doctor = #{doctor,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.surveyTime != null">
            and survey_time = #{surveyTime,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.livenum != null">
            and livenum = #{livenum,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.six != null">
            and six = #{six,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.citys != null">
            and citys = #{citys,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.xz != null">
            and xz = #{xz,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.nc != null">
            and nc = #{nc,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.ne != null">
            and ne = #{ne,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.mather != null">
            and mather = #{mather,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.father != null">
            and father = #{father,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.tais != null">
            and tais = #{tais,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.chan != null">
            and chan = #{chan,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.zhou != null">
            and zhou = #{zhou,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.ctype != null">
            and ctype = #{ctype,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.kg != null">
            and kg = #{kg,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.myqbs != null">
            and myqbs = #{myqbs,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.myqbses != null">
            and myqbses = #{myqbses,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.shbs != null">
            and shbs = #{shbs,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.fych != null">
            and fych = #{fych,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.action != null">
            and `action` = #{action,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.actions != null">
            and actions = #{actions,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.tai != null">
            and tai = #{tai,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.fan != null">
            and fan = #{fan,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.dz != null">
            and dz = #{dz,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.pa != null">
            and pa = #{pa,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.zou != null">
            and zou = #{zou,jdbcType=INTEGER}
        </if>
        <if test="hzhGeneral.lau != null">
            and lau = #{lau,jdbcType=VARCHAR}
        </if>
        <if test="hzhGeneral.laus != null">
            and laus = #{laus,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>